/*For Naturo*/
/*2016年9月12日11:37:18*/
*{
	margin: 0;
}
body{
	background-image: url("img/背景.jpg");
	width: 100%;
	background-repeat: no-repeat;
}
.wrapper{
	width: 1024px;
	margin: auto;
}
.logo{
	width: 295px;
	height: 180px;
}
.logo img{
	width: 100%;
	height: 100%;
}
.banner{
	position: relative;
}
.banner img{
	height: 220px;
}