@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
	list-style:none;
	}
.wrapper{
	border:none;
	width:1024px;
	margin:auto;
	position:relative;
}
.wrapper .toptitle{
	padding-top:20px;
	opacity:0;
	}
.wrapper .title {
	float:left;
	margin-left:0px;
	padding-top:0px;
	padding-left:30px;
	opacity:0;
	}
.wrapper .textBox{
	padding-top:220px;
	margin-top:0px;
	opacity:0;
	}
.wrapper .top{
	float:left;
	margin-top:0px;
	opacity:0;
	}
.wrapper .top1{
	float:right;
	margin-top:10px;
	opacity:0;
	}
.wrapper .middle{
	margin-top:10px;
	padding-left:364px;
	opacity:0;
	}
.wrapper .bottom{
	margin-top:20px;
	padding-left:50px;
	opacity:0;
}
.wrapper .top2{
	opacity:0;
	}
.wrapper .top3{
	opacity:0;
	}
.wrapper .middle1{
	opacity:0;
	}
 .bottom1{
	opacity:0;
	}
body{
 	background-image:url(../img/%E8%83%8C%E6%99%AF.jpg);
	background-size:100%;
	
} 
#title a img{
	top:0px;}
