@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	text-decoration:none;
	
	list-style:none;
	font-family:"Arial Unicode MS","微软雅黑" ;
	}
body{
	background-image:url(../img/04.jpg);
	background-color:#207EE6; 
	background-repeat:no-repeat;
	background-position:top;
	background-size:contain;
	}
.wrapper{
	width:1024px;
	margin:auto;
	}
.column{
	width:200px;
	height:50px;
	border:0px solid #0033FF;
	margin-top:10px;
	background-color:#FFFFFF;
	text-align:center;
	font-weight:bold;
	}
.column a{
	color:#207EE6;
	font-size:30px;
	font-family:"微软雅黑";
	font-weight:bold;
	line-height:50px;
	}
.saying{
	float:right;
	width:824px;
	color:#207EE6;
	text-align:center;
	font-family:"楷体";
	font-weight:bold;
	font-size:30px;
	background-color:#FFFFFF;
	line-height:50px;
	border:0px solid #00CCFF;
	}
.content{
	width:1024px;
	border:0px solid #00FFFF;
	margin:auto;
	position:relative;
	text-align:justify;
	}
.content .img{
	width:1024px;
	height:579px;
	border:0px solid #00FFFF;
	float:left;
	position:relative;
	}
.content .img img{
	float:left;
	display:block;
	}
.content .text_1{
	text-indent:2em;
	color:#FFFFFF;
	font-size:21px;
	line-height:30px;
	float:right;
	width:580px;
	margin:15px;
	}
.content .text_2 p{
	margin-left:15px;
	margin-right:15px;
	font-size:22px;
	line-height:30px;
	}
.content .text_3{
	font-size:40px;
	color:#FFFFFF;
	width:660px;
	margin:15px;
	float:right;
	}
.content .text_3 p{
	font-size:24px;
	float:right;
	line-height:40PX;
	}
.content .return img{
	float:right;
	position:absolute;
	opacity:0;
	bottom:10px;
	right:10px;
	z-index:20px;
	}
.content .return1 a{
	float:right;
	position:absolute;
	font-size:35px;
	color:#207EE6;
	bottom:20px;
	right:20px;
	z-index:50px;
	}
.content .return1 a span{
	font-family:'华文行楷';
	}
.flooter{
	height:100px;
	border:0px solid #00F3FF;
	margin-top:15px;
	background-color:#06FCF0;
	}
nav{
	text-align:center;}