/*2016年9月10日16:54:45*/
*{
	margin: 0;
}
.wrapper{
	/*除 header AND footer 外，全限制在 wrapper 中*/
	width: 1024px;
	margin: auto;
}
body header{
	background-color: red;
	height: 62px;
}
.main{
	/*处理 position*/
}
/*处理 t$ margin*/
.t1{
	width: 300px;
	height: 300px;
}
.t2{
	width: 400px;
	height: 400px;
}
.t3{
	width: 304px;
	height: 304px;
}
.t4{
	width: 300px;
	height: 400px;
}
.t5{
	width: 400px;
	height: 300px;
}
.t6{
	width: 304px;
	height: 396px;
}
body footer{
	background-color: red;
	height: 150px;
	width: 100%;
	/*设置 footer 于底部*/
	/*http://miyulano.iteye.com/blog/1897987*/
	position: absolute;
	bottom: 0;
}