@charset "utf-8";
/* CSS Document */
embed{
	height:0px;
	width:0px;
	}
*{
	margin:0px;
	padding:0px;
	border:0;
	list-style:none;
	font-family:"微软雅黑";
	outline:none;
	}
a{
	text-decoration:none;
	color:#FFF;}
.wraper{
	width:1024px;
	margin:auto;
	position:relative;}
.right{
	float:right;}
.left{
	float:left;}
nav{
	/*border:1px red solid;*/
	height:47px;
	width:1024px;
	background-color:#ff2a2a;}
	
nav ul li{
	/*border:1px black solid;*/
	font-size:19px;
	width:146px;
	background-color:#ff2a2a;
	text-align:center;
	line-height:47px;
	}
nav ul  li a{
	display:block;
	}
nav ul li:hover a{
	background-color:white;
	color:#ff2a2a;
	}
.img1{
	}

.subNav{
	width:1024px;
	height:0px;
	position:absolute;
	top:47px;
	left:0px;
	margin:auto;
	overflow:hidden;
	background-color:#ff2a2a;
	z-index:2;
	transition: height 1s;
	-moz-transition: height 1s;	/* Firefox 4 */
	-webkit-transition: height 1s;	/* Safari 和 Chrome */
	-o-transition: height 1s;	/* Opera */
	}
nav ul li:hover .subNav{
	height:400px;
	
	}


